.main {
  display: flex;
  flex-direction: column;
  gap: 10em;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 157, 255);
  height: 100vh;
}
.text{
  font-size: 3em;
}
